@model IEnumerable<WebViewer.Models.Patient>

@{
    ViewBag.Title = "患者列表";
}

<h2>患者列表</h2>

<p>
    @Html.ActionLink("添加新患者", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PatientCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDept)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PatientCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestDept)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.PatientId }) |
            @Html.ActionLink("详情", "Details", new { id=item.PatientId }) |
            @Html.ActionLink("删除", "Delete", new { id=item.PatientId })
        </td>
    </tr>
}

</table>
