@model IEnumerable<WebViewer.Models.PacsReport>

@{
    ViewBag.Title = "PACS报告列表";
}

<h2>报告列表</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PacsCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DicomFileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreDiagnose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckPoint)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.ReportDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PacsCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DicomFileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreDiagnose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportDate)
        </td>
        <td>
            @Html.ActionLink("添加报告", "Edit", new { id=item.PacsReportId }) |
            @Html.ActionLink("查看影像", "Details", new { id=item.PacsReportId }) |
            @Html.ActionLink("删除", "Delete", new { id=item.PacsReportId })
        </td>
    </tr>
}

</table>
